{{!-- format to see the users posts --}}
<section>
    <h2>Your Posts</h2>
    <form class="new-post-form">
        <div>
            <label for="post-title">Title:</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div>
            <label for="post-text">Content:</label>
            <input type="text" placeholder="Enter the content for your post" id="post-content" name="post-content"/>
        </div>
        <div>
            <button class="commentBtn" type="submit">Add a post</button>
        </div>
    </form>
</section>
{{#if posts.length}}
<section class="post-section">
    <h2>Your Latest Post</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            <a href="/dashboard/edit/{{post.id}}" >{{title}}</a>
            {{pcomment_text}}
            Created on {{format_date created_at}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

{{!-- script to give functionality to the page --}}
<script src="/javascript/dashboard.js"></script>