{{!-- homepage of the app that is used to display all of the post. use the each helper to loop through the posts and create list element --}}
<ol class="post-list">
  {{#each posts as |posts|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/post/{{{id}}}">{{title}}</a>
      </div>
      <div class="meta">
        created on {{format_date created_at}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>